body{
   margin: 100px;
   margin-top: 70px;
}
.submit-area{
    border: 1px solid rgb(240, 230, 230);
    border-radius: 15px;
    box-shadow: 10px 10px 10px rgb(160, 156, 156);
}
.transaction-area{
    display: none;
}
.balance-total{
    background-color:#e9c46a;
    border-radius: 10px;
    color: white;
}
.withdraw-total{
    background-color: #f4a261;
    border-radius: 10px;
    color: white;

}
.deposit-total{
    background-color:#e76f51;
    border-radius: 10px;
    color: white;

}
.withdraw,.deposit{
    box-shadow: 10px 10px 10px #caf0f8;
    border: 1px solid #caf0f8;
    border-radius: 10px;
}